.spinner {
  width: 1em;
  height: 1em;
  margin: 0 10px;
  border-radius: 50%;
  display: visible;
}

.spinner i::after {
  position: absolute;
  clip: rect(0, 1em, 1em, 0.5em);
  width: 1em;
  height: 1em;
  content: '';
  animation: rotation 1s linear infinite;
  border-radius: 50%;
  box-shadow: inset 0 0 0 0.1em #01b7ff;
}
