.elements__picture {
  height: 282px;
  width: 100%;
  align-self: flex-start;
  z-index: 1;
  color: white;
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  transition: all .1s ease-in;
  background: #01b7ff;
  background: url("../../../images/Logo-white.svg"), linear-gradient(180deg, #01b7ffe7 0%, #0178ffea 50%, #013cffe7 100%);
  background-size: 50%, contain;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}

.elements__picture:hover {
  cursor: pointer;
  opacity: 0.8;
  transform: scale(1.1);
}
